<form *ngIf="showAddTask" (ngSubmit)="onSubmit()">
  <div class="flex mb-5 from-orange-100 border-2">
    <label for="text"> Add Task name </label>
    <input
      type="text"
      name="text"
      [(ngModel)]="text"
      id="text"
      placeholder="Add Task"
    />
  </div>

  <div class="mb-5 border-2 from-orange-100">
    <label for="day">Day and Time</label>
    <input
      type="text"
      name="day"
      [(ngModel)]="day"
      id="day"
      placeholder="Add Day"
    />
  </div>
  <div class="mb-5 border-2 from-orange-100">
    <label for="reminder">Set Reminder </label>
    <input
      type="checkbox"
      name="reminder"
      id="reminder"
      [(ngModel)]="reminder"
      placeholder="Add Day"
    />
  </div>
  <input type="submit" value="Save Task" class="bg-slate-500" />
</form>
